<!DOCTYPE html>
<html lang="zh">

<head>
	<meta charset="utf-8" />
	<title>店铺管家-用户登录</title>
	<link rel="stylesheet" type="text/css" href="css/base.css" />
	<link rel="stylesheet" type="text/css" href="css/common.css" />
	<link rel="stylesheet" type="text/css" href="css/login.css" />
	<link rel="shortcut icon" href="icon_logo.ico" />
	<script src="plug/jquery/jquery-3.6.0.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="plug/vue/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="js/animate.js" type="text/javascript" charset="utf-8"></script>
	<style type="text/css">
		@font-face {
			font-family: 'Linearicons-Free';
			src: url('fonts/Linearicons-Free.eot?pbf4y');
			src: url('fonts/Linearicons-Free.eot?pbf4y#iefix') format('embedded-opentype'),
				url('fonts/Linearicons-Free.ttf?pbf4y') format('truetype'),
				url('fonts/Linearicons-Free.woff?pbf4y') format('woff'),
				url('fonts/Linearicons-Free.svg?pbf4y#Linearicons-Free') format('svg');
			font-weight: normal;
			font-style: normal;
			font-display: block;
		}
	</style>
</head>

<body style="background-image: -moz-linear-gradient(200deg, rgb(173, 255, 239), rgb(184, 217, 255));
background-image: -webkit-linear-gradient(200deg, rgb(173, 255, 239), rgb(184, 217, 255));
background-image: linear-gradient(200deg, rgb(173, 255, 239), rgb(184, 217, 255));">
	<!-- 头部logo -->
	<header class="rtop">
		<div class="toppic">
			<div class="top_logo">
				<a href="index.html"><img src="img/logo.png" alt="logo"></a>
			</div>
			<div class="top_mod">
				<ul>
					<li><a href="#">会员</a></li>
					<li><a href="register.html">注册</a></li>
					<li><a href="#">帮助</a></li>
					<li><a href="#">关于</a></li>
				</ul>
			</div>
		</div>
	</header>

	<!-- 主区域 -->
	<div class="loginarea">
		<!-- 图片 -->
		<div class="ad_box">
			<ul>
				<li><a href="#"><img src="img/login_1.png"></a></li>
				<li><a href="#"><img src="img/login_2.png"></a></li>
				<li><a href="#"><img src="img/login_3.png"></a></li>
			</ul>
			<div class="control" style="display: none;"></div>
		</div>
		<ol class="circle">
		</ol>
		<!-- 登录区域 -->

		<div class="login_box">
			<h3>用户名登录</h3>
			<div class="login_form" id="app">
				<ul>
					<li>
						<input type="text" name="username" required="" v-model="userIpt.userName" />
						<label class="labelname">用户名</label>
					</li>
					<li>
						<input type="password" name="userpwd" required="" v-model="userIpt.userPsw" />
						<label class="labelpwd">密码</label>
					</li>
					<li>
						<input type="submit" name="login" id="" value="立即登录" @click="login" ref="logBtn" />
					</li>
				</ul>
				<h6><a href="#">忘记密码？</a></h6>
			</div>
		</div>
		<!-- 登录区域/ -->
	</div>
	<!-- 主区域/ -->
	<!-- 底部版权 -->
	<footer class="footer">
		<div class="copyright w">
			Copyright © 聊城大学计算机学院2018级15班 张景浩 出品 &nbsp;备案号 鲁ICP-XXXXX
		</div>
	</footer>
	<!-- 底部版权/ -->
	<script src="js/login.js" type="module" charset="utf-8"></script>
</body>

</html>