<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>商品管理</title>
	<link rel="stylesheet" type="text/css" href="../css/sysstyle.css" >
	<link rel="stylesheet" type="text/css" href="../plug/element-ui/element-ui.css">
	<script src="../plug/vue/vue.min.js"></script>
	<script src="../plug/axios/axios.min.js"></script>
	<script src="../plug/qs/qs.min.js"></script>
	<script src="../plug/element-ui/element-ui.js"></script>
	<script src="../js/sys_infoStocklist.js" type="module"></script>
</head>

<body>
	<div class="bg-box">
	<div class="top">
		<h2><i class="el-icon-s-shop"></i>商品库存管理</h2>
	</div>
	<!-- VUE作用域 -->
	<div id="goods">
		<div class="goodsmod clearfix" id="goods-head">
			<el-row>
				<el-button type="primary" class="addbtn floatleft" data-toggle="modal"
						   data-target="#addModal" style="margin-left: 15px" @click="openAddModal">入库</el-button>

					<el-input placeholder="请输入内容" v-model="searchGoodsInfo.goodsName" class="input-with-select floatleft" style="margin-left:50px;width: 30%">
						<el-select v-model="searchBy" slot="prepend" placeholder="请选择">
							<el-option label="商品名" value="goodsName"></el-option>
							<el-option label="商品编号" value="goodsId"></el-option>
							<el-option label="商品类型" value="goodsType"></el-option>
						</el-select>
						<el-button slot="append" icon="el-icon-search" @click="searchGoodsByName"></el-button>
					</el-input>

<!--				<div class="scmod floatleft" style="margin-left: 66px;">-->
<!--					<input type="text" name="scname" placeholder="请输入要查询的商品" v-model="searchGoodsInfo.goodsName"/>-->
<!--					<el-button type="primary" icon="el-icon-search" circle @click="searchGoodsByName"></el-button>-->
<!--				</div>-->
			</el-row>
		</div>
		<!-- 商品列表 -->
		<div id="datalist">
			<el-card>
			<el-table
					ref="table"
					:data="goodsList"
					style="width: 100%"
					:default-sort = "{prop: 'goods_id', order: 'descending'}"
					@filter-change="filterChange"
					:row-class-name="tableRowClassName"
					v-loading = "isLoading"
					element-loading-background = "rgba(242, 242, 242,0.5)"
					element-loading-text = "加载中，请稍后..."
					element-loading-spinner = "el-icon-loading"
					>
				<el-table-column
						prop="goods_id"
						label="商品编号"
						sortable
						width="150">
				</el-table-column>
				<el-table-column
						prop="goods_name"
						label="商品名称"
						width="200">
				</el-table-column>
				<el-table-column
						prop="goods_type"
						label="商品类型"
						width="100"
						column-key="type"
						:filters="typeFilters"
						:filter-method="filterHandler"
						:filter-multiple = false
						>
				</el-table-column>
				<el-table-column
						prop="goods_num"
						label="商品数量"
						sortable
						width="100">
				</el-table-column>
				<el-table-column
						prop="goods_inPrice"
						label="单价"
						width="100">
				</el-table-column>
				<el-table-column
						prop="goods_outPrice"
						label="售价"
						width="100">
				</el-table-column>
				<el-table-column
						prop="goods_SHLdate"
						label="上架日期"
						width="150">
				</el-table-column>
				<el-table-column
						prop="goods_EXPdate"
						label="过期时间"
						width="150">
				</el-table-column>
				<el-table-column
						prop="goods_saleNum"
						label="销量"
						width="100">
				</el-table-column>
				<el-table-column
						prop="goods_company"
						label="厂商"
						width="150">
				</el-table-column>
				<el-table-column
						label="修改">
					<template slot-scope="scope">
					<el-button type="primary" size="small" class="revbtn"
							   @click="moveUpdateRowToModel(scope.row)">修改</el-button>
					</template>
				</el-table-column>
				<el-table-column
						label="删除">
					<template slot-scope="scope">
					<el-button type="danger" plain size="small" @click.native.stop="deleteGoods(scope.row)">删除</el-button>
					</template>
				</el-table-column>
			</el-table>
			</el-card>
			<el-pagination
					@current-change="handleCurrentChange"
					background
					:current-page.sync="currentPage"
					:page-size="20"
					layout="prev, pager, next"
					:total="stockTotal"
					style="margin: 20px 0 0 0">
			</el-pagination>

		</div>
		<!-- 商品列表/ -->

		<!-- 新增模态框 -->
		<div class="add mydefmodal" id="addFun" >
			<button type="button" class="close"><span>&times;</span></button>
			<div class="mydefmodal_main">
				<div class="mydefmodal_header">
					<h4 class="mydefmodal_title">商品入库</h4>
				</div>
				<div class="mydefmodal_body">
					<table>
						<tr>
							<td class="mylabel">商品编号</td>
							<td><input class="form_control" v-model="addGoodsInfo.goodsId" placeholder="编号"> </td>
						</tr>
						<tr>
							<td class="mylabel">商品名称</td>
							<td><input class="form_control" v-model="addGoodsInfo.goodsName" placeholder="名称"> </td>
						</tr>
						<tr>
							<td class="mylabel">商品类型</td>
							<td><input class="form_control" v-model="addGoodsInfo.goodsType" placeholder="类型"> </td>
						</tr>
						<tr>
							<td class="mylabel">商品数量</td>
							<td><input class="form_control" v-model="addGoodsInfo.goodsNum" placeholder="数量"> </td>
						</tr>
						<tr>
							<td class="mylabel">进价</td>
							<td><input class="form_control" type="number" step="0.01" v-model="addGoodsInfo.goodsInPrice" placeholder="进价"> </td>
						</tr>
						<tr>
							<td class="mylabel">售价</td>
							<td><input class="form_control" type="number" step="0.01" v-model="addGoodsInfo.goodsOutPrice" placeholder="售价"> </td>
						</tr>
						<tr>
							<td class="mylabel">上架日期</td>
							<td>
								<input type="date" class="form_control" v-model="addGoodsInfo.goodsSHLdate" placeholder="上架日期"> </td>
						</tr>
						<tr>
							<td class="mylabel">过期时间</td>
							<td><input type="date" class="form_control" v-model="addGoodsInfo.goodsEXPdate" placeholder="过期时间"> </td>
						</tr>
						<tr>
							<td class="mylabel">厂商</td>
							<td><input class="form_control" v-model="addGoodsInfo.goodsCompany" placeholder="厂商"> </td>
						</tr>
					</table>
					<div class="mydefmodal_footer">
						<button type="button" class="mydefbtn mydefbtn_default">取消</button>
						<el-button :plain="true" @click="addGoodsToStock">入库</el-button>
					</div>
				</div>
			</div>
		</div>
		<div class="my-mask"></div>
		<!-- 新增模态框/ -->

		<!-- 修改模态框 -->
		<div class="rev mydefmodal" id="revFun" style="height: 685px">
			<button type="button" class="close"><span>&times;</span></button>
			<div class="mydefmodal_main">
				<div class="mydefmodal_header">
					<h4 class="mydefmodal_title">商品修改</h4>
				</div>
				<div class="mydefmodal_body">
					<table>
						<tr>
							<td class="mylabel">商品编号</td>
							<td><input class="form_control" v-model="UpdGoodsInfo.goodsId" placeholder="编号" disabled> </td>
						</tr>
						<tr>
							<td class="mylabel">商品名称</td>
							<td><input class="form_control" v-model="UpdGoodsInfo.goodsName" placeholder="名称"> </td>
						</tr>
						<tr>
							<td class="mylabel">商品类型</td>
							<td><input class="form_control" v-model="UpdGoodsInfo.goodsType" placeholder="类型"> </td>
						</tr>
						<tr>
							<td class="mylabel">商品数量</td>
							<td><input class="form_control" v-model="UpdGoodsInfo.goodsNum" placeholder="数量"> </td>
						</tr>
						<tr>
							<td class="mylabel">进价</td>
							<td><input class="form_control" type="number" step="0.01" v-model="UpdGoodsInfo.goodsInPrice" placeholder="进价"> </td>
						</tr>
						<tr>
							<td class="mylabel">售价</td>
							<td><input class="form_control" type="number" step="0.01" v-model="UpdGoodsInfo.goodsOutPrice" placeholder="售价"> </td>
						</tr>
						<tr>
							<td class="mylabel">上架日期</td>
							<td>
								<input type="date" class="form_control" v-model="UpdGoodsInfo.goodsSHLdate" placeholder="上架日期"> </td>
						</tr>
						<tr>
							<td class="mylabel">过期时间</td>
							<td><input type="date" class="form_control" v-model="UpdGoodsInfo.goodsEXPdate" placeholder="过期时间"> </td>
						</tr>
						<tr>
							<td class="mylabel">厂商</td>
							<td><input class="form_control" v-model="UpdGoodsInfo.goodsCompany" placeholder="厂商"> </td>
						</tr>
					</table>
					<div class="mydefmodal_footer">
						<button type="button" class="mydefbtn mydefbtn_default">取消</button>
						<button type="button" class="mydefbtn mydefbtn_primary" @click="updateGoods">修改</button>
					</div>
				</div>
			</div>
		</div>
		<!-- 修改模态框/ -->

	</div>
	<!-- VUE作用域/ -->
	</div>
</body>

</html>