<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>用户信息</title>
    <link rel="stylesheet" type="text/css" href="../css/sysstyle.css"/>
    <link rel="stylesheet" type="text/css" href="../plug/element-ui/element-ui.css">
    <script src="../plug/vue/vue.min.js"></script>
    <script src="../plug/axios/axios.min.js"></script>
    <script src="../plug/qs/qs.min.js"></script>
    <script src="../plug/element-ui/element-ui.js"></script>
    <script src="../js/user/user_infoModify.js" type="module"></script>
</head>
<body>
<div class="bg-box">
    <div id="userInfoApp" v-cloak>
        <el-row :gutter="20">
            <el-col style="width: 240px">
                <div class="grid-content">
                    <el-card>
                        <el-upload
                                class="avatar-uploader"
                                :action= requestUrl
                                :show-file-list="false"
                                :on-success="handleAvatarSuccess"
                                :before-upload="beforeAvatarUpload">
                            <img v-if="imageUrl" :src="imageUrl" class="avatar">
                            <el-avatar shape="square" :size="160" :src="squareUrl" v-else></el-avatar>
                        </el-upload>
                    </el-card>
                </div>
            </el-col>
            <el-col :span="20">
                <div class="grid-content">
                    <el-card>
                        <el-descriptions class="margin-top" title="用户信息" :column="3"  border>
                            <template slot="extra">
                                <el-button type="primary" size="small">修改</el-button>
                            </template>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-user"></i>
                                    用户名
                                </template>
                                {{userInfo.userName}}
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-mobile-phone"></i>
                                    手机号
                                </template>
                                {{userInfo.userPhone}}
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-location-outline"></i>
                                    用户Uid
                                </template>
                                {{userInfo.userId}}
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-tickets"></i>
                                    VIP
                                </template>
                                <el-tag size="small" type="danger" v-if="userInfo.userId === 1">VIP</el-tag>
                                <el-tag size="small" type="info" v-if="userInfo.userId !== 1">VIP</el-tag>
                            </el-descriptions-item>
                            <el-descriptions-item>
                                <template slot="label">
                                    <i class="el-icon-office-building"></i>
                                    注册日期
                                </template>
                                {{userInfo.userRegDate}}
                            </el-descriptions-item>
                        </el-descriptions>
                    </el-card>
                </div>
            </el-col>

        </el-row>
    </div>
</div>
</body>
</html>